@mixin tipografiaBase($fuente, $tamanio, $estilo, $bold, $color, $line) {
    font-family: $fuente;
    font-size: $tamanio;
    font-style: $estilo;
    font-weight: $bold;
    color: $color;
    line-height: $line;
}